.cardCard, .cardCard_delete {
    cursor: pointer;
}

.numBox:hover {
    background: #e5e5e5;
}

.numBox {
    background: white;
}

.cardCard_delete:hover {
    background: #f03e2f;
}

.cardCard:hover {
    background: #f2f3f5;
}